$color-bg: #101b35;       // fondo principal
$color-bg-soft: #0b1630;  // tarjetas / bloques
$color-text: #e5e7eb;
$color-muted: #9ca3af;
$color-primary: #2563eb;
$color-accent: #00ff63;   // botón verde de “Ver proyecto”

$radius-lg: 32px;
$radius-md: 16px;

$font-main: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
